* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background-color: #142D38;
}

.drawing-space {
  width: 950px;
  height: 950px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 475px;

  background-color: #1A3946;
}

/* Moon and Craters */
.moon {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 445px;
  left: 445px;
  border-radius: 30px;

  background-color: #D9FBFF;

  animation: rotateMoon 120s linear infinite;
}

.moon-crater-1 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 18px;
  left: 10px;
  border-radius: 5px;

  background-color: #C5EBEC;
}

.moon-crater-2 {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 14px;
  right: 12px;
  border-radius: 4px;

  background-color: #C5EBEC;
}

.moon-crater-3 {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 26px;
  right: 14px;
  border-radius: 3px;

  background-color: #C5EBEC;
}

.moon-crater-4 {
  width: 6px;
  height: 6px;
  position: absolute;
  bottom: 8px;
  right: 22px;
  border-radius: 3px;

  background-color: #C5EBEC;
}

.moon-crater-5 {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 32px;
  left: 20px;
  border-radius: 2px;

  background-color: #C5EBEC;
}

.moon-crater-6 {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 24px;
  right: 10px;
  border-radius: 1px;

  background-color: #C5EBEC;
}

.moon-crater-7 {
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 16px;
  right: 20px;
  border-radius: 1px;

  background-color: #C5EBEC;
}

@keyframes rotateMoon {
  from {
    transform: rotate(0deg) translate(-360px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-360px) rotate(-360deg);
  }
}

.orbit-ring {
  width: 480px;
  height: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 240px;

  background-color: #194350;
}

/* Satellite */
.satellite-head-inner {
  width: 12px;
  height: 12px;
  position: fixed;
  top: 248px;
  left: 248px;
  border-radius: 6px;
  background-color: #194350;

  border: 1px solid #FFFFFF;

  animation: rotateSatelliteInner 24s linear infinite;
}

.satellite-head-outer {
  width: 12px;
  height: 12px;
  position: fixed;
  top: 220px;
  left: 220px;
  border-radius: 6px;
  background-color: #194350;

  border: 1px solid #FFFFFF;

  animation: rotateSatelliteOuter 30s linear infinite;
}

@keyframes rotateSatelliteInner {
  from {
    transform: rotate(0deg) translate(-200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-200px) rotate(-360deg);
  }
}

@keyframes rotateSatelliteOuter {
  from {
    transform: rotate(0deg) translate(-210px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-210px) rotate(-360deg);
  }
}

/* Atmosphere, Earth, and Continants */
.atmosphere {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 150px;

  background-color: #1A3946;
}

.earth {
  width: 250px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 125px;

  background-color: #4BBBD3;
}

/* Upper Continant */
.upper-con-line-1 {
  width: 100px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 0px;
  border-radius: 13px;

  background-color: #FFC050;
  overflow: hidden;
}

.upper-con-line-2 {
  width: 90px;
  height: 25px;
  position: absolute;
  top: 50px;
  right: 0px;
  border-radius: 13px;

  background-color: #FFC050;
  overflow: hidden;
}

.upper-con-line-2-indent {
  width: 26px;
  height: 25px;
  position: absolute;
  top: 50px;
  right: 70px;
  border-radius: 13px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.upper-con-line-3 {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 75px;
  right: -10px;
  border-radius: 13px;

  background-color: #FFC050;
  overflow: hidden;
}

/* Middle Continant */
.middle-con-line-1 {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 75px;
  left: 35px;
  border-radius: 13px;

  background-color: #91C841;
  overflow: hidden;
}

.middle-con-line-2 {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 100px;
  left: 40px;
  border-radius: 13px;

  background-color: #91C841;
  overflow: hidden;
}

.middle-con-line-2-indent-left {
  width: 26px;
  height: 25px;
  position: absolute;
  top: 100px;
  left: 31px;
  border-radius: 13px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.middle-con-line-2-indent-right {
  width: 26px;
  height: 25px;
  position: absolute;
  top: 100px;
  left: 73px;
  border-radius: 13px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.middle-con-line-3 {
  width: 100px;
  height: 25px;
  position: absolute;
  top: 125px;
  left: 15px;
  border-radius: 13px;

  background-color: #91C841;
  overflow: hidden;
}

.middle-con-line-4 {
  width: 80px;
  height: 25px;
  position: absolute;
  top: 150px;
  left: 25px;
  border-radius: 13px;

  background-color: #91C841;
  overflow: hidden;
}

.middle-con-line-4-indent-left {
  width: 26px;
  height: 25px;
  position: absolute;
  top: 150px;
  left: 18px;
  border-radius: 13px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.middle-con-line-4-indent-right {
  width: 26px;
  height: 25px;
  position: absolute;
  top: 150px;
  left: 86px;
  border-radius: 13px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.middle-con-line-5 {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 175px;
  left: 5px;
  border-radius: 13px;

  background-color: #91C841;
  overflow: hidden;
}

/* Lower Continant */
.lower-con-line-1 {
  width: 110px;
  height: 15px;
  position: absolute;
  top: 210px;
  left: 80px;
  border-radius: 13px;

  background-color: #D9FBFF;
  overflow: hidden;
}

.lower-con-line-2 {
  width: 70px;
  height: 15px;
  position: absolute;
  top: 225px;
  left: 90px;
  border-radius: 13px;

  background-color: #D9FBFF;
  overflow: hidden;
}

.lower-con-line-2-indent-left {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 225px;
  left: 83px;
  border-radius: 8px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.lower-con-line-2-indent-right {
  width: 18px;
  height: 15px;
  position: absolute;
  top: 225px;
  left: 148px;
  border-radius: 8px;

  background-color: #4BBBD3;
  overflow: hidden;
}

.lower-con-line-3 {
  width: 130px;
  height: 25px;
  position: absolute;
  top: 240px;
  left: 60px;
  border-radius: 13px;

  background-color: #D9FBFF;
  overflow: hidden;
}

/* Clouds */
/* Upper Cloud */
.upper-cloud-line-1 {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: -60px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 60s linear infinite;
}

.upper-cloud-line-2 {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 40px;
  left: -110px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 60s linear infinite;
}

.upper-cloud-line-3 {
  width: 90px;
  height: 25px;
  position: absolute;
  top: 65px;
  left: -140px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 60s linear infinite;
}

/* Lower Cloud */
.lower-cloud-line-1 {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 165px;
  left: -90px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 40s linear infinite;
}

.lower-cloud-line-2 {
  width: 140px;
  height: 25px;
  position: absolute;
  top: 190px;
  left: -110px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 40s linear infinite;
}

.lower-cloud-line-3 {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 215px;
  left: -60px;
  border-radius: 13px;

  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  animation: move 40s linear infinite;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(440px, 0px);
    opacity: 0;
  }
}
